{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6" style="margin: 0 auto;">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="card">
                    <div class="card-body">
                        {% if object %}
                        <h1 class="text-center">Отредактируйте категорию</h1>
                        {% else %}
                        <h1 class="text-center">Добавьте новую категорию</h1>
                        {% endif %}
                        <div class="mb-3 text-start">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Cохранить</button>
                        <a href="{% url 'catalog:product_edit' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}