{% extends 'base.html' %}
{% load static %}

{% block content %}


{% for product in products %}
{% if product.published %}
<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image"
                 style="width: 200px; height: 200px; object-fit: contain">
            {% else %}
            <img src="{% static 'images/products/box.jpeg' %}" class="card-img-top" alt="Placeholder Image"
                 style="width: 200px; height: 200px; object-fit: contain">
            {% endif %}
        </div>
        <div class="card-body d-flex flex-column" style="height: 200px; overflow: hidden;">
            <h4 class="card-title pricing-card-title">{{ product.name|truncatechars:100 }}</h4>
            <div class="mt-auto">
                <a href="{% url 'catalog:product_detail' product.id %}"
                   class="btn btn-lg btn-block btn-outline-primary">Детали</a>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}