{% extends 'base.html' %}

{% block header %}

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6" style="margin: 0 auto;">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Удалить продукт</h1>
                        <p>Вы уверены, что хотите удалить продукт "{{ product.name }}"?</p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}